body {
    font-family: Arial, sans-serif;
    background-color: hwb(181 81% 2%);
    color: hsl(188, 69%, 9%);
    margin: 20px;
}

h1 {
    font-size: 2em;
    color: #2c3e50;
    text-align: center;
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

p {
    line-height: 1.6;
    margin: 10px 0;
}

.color-verde {
    color: hwb(120 10% 65%);
    font-weight: bold;
}

ul {
    margin-left: 20px;
    list-style-type: square;
}

h2 {
    color: hsl(196, 67%, 23%);
    font-size: 1.5em;
    margin-top: 20px;
}

a {
    color: hsl(201, 56%, 41%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#grande {
    font-size: 1.2em;
}
